<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload Image</title>
</head>
<body>

  <h1>Images</h1>

  <a href="/">Go to Form</a>

  <img src="uploads/52e8f493-1f3d-4020-bedd-60f8806efc96.jpg" width="100%">
  <img src="uploads/8415bbda-1b0f-4b1c-950f-b0650acac135.png" width="100%">
  <img src="uploads/41682e2d-7e42-4074-9e1a-a6a079fcf187.jpg" width="100%">
  
</body>
</html>